OUTPUT_DIR = # 'C:\Users\(...)'  | Add absolute path of the folder where each operation (from the batch order - auto_all-env.sh) output folder will be loaded into

CONTROL_RING_PATH = # 'C:\Users\(...)'  |Add the absolute path for the directory of control group .RINGEDGES files (cif files outputed by Residue Interaction Network Generator). These would be Wild-type files.

AA_RING_PATH = # 'C:\Users\(...)' | Add the absolute path for the directory of test group .RINGEDGES files

CONTROL_TITLE = # 'TTK_HUMAN' | Single string title for the left graph 

AA_TITLE = # 'TTK_aa363_Ph' | Single string title for the right graph

SEARCH_SEQUENCE= # OPTIONAL -> Not implemented

DOMAIN_1 = # OPTIONAL '40-100', '40:100', '40,100' | Search filter for interactions that occur in a specific protein domain

DOMAIN_2 = # OPTIONAL '400-600', '40:600', '40,600' 
